body {
    background-color: grey;
}
.books {
    display: flex;
    gap: 10px;
}
.book {
    height: 10vh;
    width: 10vw;
    padding: 20px;
    background-color: aliceblue;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}