body {
    background-color: grey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
    font-size: 48px;
    font-weight: 600;
}
.books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 0.25fr));
    gap: 10px;
}
.book {
    height: 10vh;
    padding: 20px;
    background-color: aliceblue;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookform {
    background-color: azure;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

#addnewbook {
    background-color: antiquewhite;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
}

#addnewbook:hover {
    background-color: rgb(225, 209, 191);
}